
<% flash.each do |name, msg| %>
    <div class="alert alert-warning alert-dismissible" role="alert">
        <button class="btn-close" data-bs-dismiss="alert">
        </button>
        <%= content_tag(:div, msg)%>
    </div>
<% end %>