<div class="col-md-6 offset-md-3">
  <div class="bg-secondary bg-gradient w-auto p-3 d-grid gap-5">

    <%= render @stock %>

    <div>
      <%= link_to "Back to stocks", stocks_path, class: "btn btn-dark"%>
    </div>

  </div>
</div>
